<h1>Elemental Damage</h1>
<h2>in Diablo III - 07/28/12</h2>

<h4>In Diablo II...</h4>
<br>All elemental damage is added to overall damage.
<br><br><b>Physical damage</b> is added to weapon damage, which gets multiplied by other factors.
<br><b>Magic damage</b> does not have resistance (well, players don't have a resist for it, monsters can, but it's rare).
<br><b>Cold damage</b> does the lowest damage, but chills targets.
<br><b>Fire damage</b> has the highest minimum damage and highest average damage.
<br><b>Lightning damage</b> always (almost always) has a minimum of 1 damage, but the highest maximum damage.
<br><b>Poison damage</b> deals a lot of damage, but does it over time.  Per hit it does the most damage, but would often overlap due to the duration being longer than how often you hit (fun fact:  the assassin's <%= link_to "venom", 'http://classic.battle.net/diablo2exp/skills/assassin-shadow.shtml#venom', target: "_blank" %> skill deals its poison damage over .4 seconds, and the fastest possible attack speed on <%= link_to "dragon claw", 'http://classic.battle.net/diablo2exp/skills/assassin-martialarts.shtml#dragonclaw', target: "_blank" %> is .4 seconds).
<br><br>
<h4>In Diablo III...</h4>
<br>Physical and all elemental damage is added to weapon damage, which gets multiplied by other factors.
<br><br><b>Physical damage</b> is slightly different from elemental damage in that it also gets multiplied on the weapon damage if there is a "+x% damage" mod on the weapon, allowing weapons with physical damage to get higher dps than weapons with elemental damage.
<br><b>Holy damage</b> does not have resistance (players don't at least, I don't know if monsters do or not because the Diablo III site is inferior to the <%= link_to "Arreat Summit", 'http://classic.battle.net/diablo2exp/monsters/', target: "_blank" %>).
<br><b>Cold damage</b> does less damage but applies a slow debuff (or at least this seems to be true, it's very difficult to find exact information about it because again, the Diablo III site is inferior to the Arreat Summit).
<br><b>Fire, lightning, poison, and holy</b> have very similar damage ranges.
<br><br>
<h4>What...?</h4>
<br>Yeah.  There is nothing special about fire, lightning, or poison from what I can tell.  So from what I can tell (until we get a better Diablo III site), holy is a strictly better damage type than these three.
<ul>
<li>I like that the elemental damages are added to the weapon damage in Diablo III instead of overall damage.</li>
<li>I like that physical damage has the potential to be the highest, that makes sense.</li>
<li>I like that holy damage either has no resistance or at least probably has much rarer resistance than the other elements.</li>
<li>I like that cold damage does less damage but slows enemies.</li>
</ul>
So what happened to fire, lightning and poison?!  Did they run out of design time?  If all three of these were removed as weapon mods, I'm pretty sure that no one would care.  A lot of people probably wouldn't even notice that they are gone because no one looks at the damage type unless it's cold.  What is the point of these being identical?
<br><br>
<h4>Poison Damage</h4>
<br>The one that I have a biggest problem with is poison damage.  This was the type that was the most different in Diablo II, but identical to the others in Diablo III.  I just don't see the design reasoning here.  I would love to see poison be the one element that does not get added directly to the weapon, but only to overall damage instead.  Then make it function like in Diablo II (damage over time) and make it available on weapons and other slots.  It looks like they might have tried to fill the role of poison with the chance on hit to bleed mod, but that still seems quite different from poison to me, and reminds me more of <%= link_to "open wounds", 'http://diablo2.diablowiki.net/Open_Wounds', target: "_blank" %>.
<br><br>
<h4>Fire and Lightning Damage</h4>
<br>In Diablo II, fire and lightning were the least interesting damage types to have as a mod.  So I would expect them to be redesigned and made more interesting in Diablo III.  But instead, they were made LESS interesting.  Wow.  I just don't know how that happens.  I would really like to see them go back and give these two element types new functionality, at least making one of them different from what it is in both Diablo II and Diablo III.
<br><br>
<h4>Additional Thoughts</h4>
<br>One other thing that I'm confused about is why we don't see more than one element type on the same <%= link_to "weapon", 'http://diablo.wikia.com/wiki/Baranar%27s_Star_%28Diablo_II%29', target: "_blank" %> or <%= link_to "skill", 'http://classic.battle.net/diablo2exp/skills/paladin-combat.shtml#vengeance', target: "_blank" %> or <%= link_to "other item slots", 'http://diablo.wikia.com/wiki/Raven_Frost', target: "_blank" %>.  In particular, there is a +damage mod that can appear on items in Diablo III, such as rings, but why not elemental damage?
