<h1>Drops in Lower Difficulties</h1>
<h2>in Diablo III - 07/29/12</h2>

<h4>In Diablo II...</h4>
<br>I enjoy playing through normal and nightmare on new characters in Diablo II.  One reason for this is because I know I can still find items that are useful and/or tradable in normal and nightmare.
<br><br>Here are some random items that I might find while playing Diablo II in normal or nightmare (playing on hardcore of course, where there's a real economy that's not dominated by bots):
<br><br><ul>
<li><b><%= link_to "Hotspurs", 'http://classic.battle.net/diablo2exp/items/normal/uboots.shtml', target: "_blank" %></b> - Best boots for many builds.  Always a tradable item for a decent price.  Highest chance to drop is from act 1 normal super uniques.</li>
<li><b><%= link_to "Gull dagger", 'http://classic.battle.net/diablo2exp/items/normal/udaggers.shtml', target: "_blank" %></b> - Not one of the best items and not usually tradable, but awesome for playing through the game, even in hell, and a fine start to a magic find set.</li>
<li><b><%= link_to "Sigon pieces", 'http://classic.battle.net/diablo2exp/items/sets/sets3.shtml#sigons', target: "_blank" %></b> - Full set is always tradable or usable on a new char.  Using a combination of gloves+boots+belt is good even in hell.</li>
<li><b><%= link_to "Low level runes such as el, tal, and ral", 'http://classic.battle.net/diablo2exp/items/runes.shtml', target: "_blank" %></b> are always tradable - I pick up every el rune that I find, and I have never failed to trade them because people don't pick them up but need them to make Fortitude.  One time I think I traded some guy 4 el runes.  Tal rune is used to make
<%= link_to "Insight", 'http://diablo.wikia.com/wiki/Insight_Rune_Word', target: "_blank" %>
and 
<%= link_to "Spirit", 'http://diablo.wikia.com/wiki/Spirit_Rune_Word', target: "_blank" %>
, which are always tradable.  Tal runes can also be traded in sets of <%= link_to "tal+thul+ptopaz, which sockets armor", 'http://classic.battle.net/diablo2exp/items/cube.shtml', target: "_blank" %>.  Ral runes are probably the most desired low rune because they craft
<%= link_to "caster amulets", 'http://classic.battle.net/diablo2exp/items/crafted/caster.shtml', target: "_blank" %>.  But they also are used in <%= link_to "Insight", 'http://diablo.wikia.com/wiki/Insight_Rune_Word', target: "_blank" %>, 
<%= link_to "repairing armor", 'http://classic.battle.net/diablo2exp/items/cube.shtml', target: "_blank" %>, and a popular rune to put in 
<%= link_to "Andariel's helm", 'http://classic.battle.net/diablo2exp/items/elite/uhelms.shtml', target: "_blank" %>.</li>
<li><b>Magic jewels</b> - Even a +1 defense jewel can be used for
<%= link_to "crafting", 'http://classic.battle.net/diablo2exp/items/crafteditems.shtml', target: "_blank" %> at level 80+.  I keep every magic jewel I find in normal/nightmare, and I trade them in sets of 40.</li>
<li><b>
<%= link_to "Charms", 'http://classic.battle.net/diablo2exp/items/charms.shtml', target: "_blank" %>
with resists</b> - I think you can get 30 resist grand charms in normal.  It's unlikely that you will get resist charms good enough to trade, but definitely good enough to use in hell.</li>
<li><b><%= link_to "SOJ", 'http://www.diablowiki.com/The_Stone_of_Jordan', target: "_blank" %></b> - Nightmare Andariel has the highest chance of anything to drop it.</li>
<li><b>4 socket flail</b> - I think you don't start finding them until nightmare cows, but still, nightmare.</li>
<li>Plus getting the imbue quest, socket quest, and personalization quest.</li>
</ul>
<br>
<h4>In Diablo III...</h4>
<br>These are some items that I might find while killing monsters in Diablo III normal/nightmare/hell:
<br>Lots of rares that are good for my level but all going to be replaced in inferno.
<br><br>
<h4>Thoughts</h4>
<br>Well I think that the Diablo II system is much more fun.  It's depressing to know that if I start a new character in Diablo III, I won't find any worthwhile item until act 4 hell.
<br><br>However, I do think that the Diablo II system has many flaws, and things that don't translate well to Diablo III.  For example... Hotspurs.  If I never played Diablo II and you told me that you were making an action RPG where the best boots in the game drop in the first of four acts in the first of three difficulties, I would say "what's wrong with you?"  Any game designer is going to tell you that just doesn't make sense, and I would probably lose some respect for your opinion.  However, for some reason, it just works in Diablo II.  Because of the way that everything in Diablo II works out together, it just feels right and acceptable.  I don't even know if this is a situation that could be reproduced on purpose in another game.  So I wouldn't encourage anyone to use this idea in their game.
<br><br>Also, the imbue and socket quests are things that I'm glad to see removed in Diablo III, but they did make sense and help the economy in Diablo II.  I just don't like the idea of creating a new character for the single purpose of getting the socket quest.  I would like to see the personalization quest in Diablo III though.  Maybe one per difficulty, then like 1 million gold for each additional one or something.  But that's a little off topic.
<br><br>The important point to take from this is that I don't think we should try to directly translate these items from Diablo II, but instead take the concept that Diablo II taught us, which is retaining the usefulness of some low level items.  I think that ral rune is a great example here.  If you find a ral rune in normal, you will probably use it to make an Insight.  If you find a ral rune in nightmare, you will probably put it in a socket.  If you find a ral rune in hell, you will probably use it to craft an amulet.  Now that's what I call an item with value!  The runes in general did wonders for Diablo II.  They made almost every part of Diablo II better: fun, economy, and customization.  And the fact that you could transmute the runes you find in normal/nightmare to get higher runes... well it's pretty inefficient but it's a good concept.  I would love to see a rune system added to Diablo III.
<br><br>I also want to point out that I think Blizzard forgets that magic find scales with difficulty, and having more magic find on a low level character is not nearly as strong as having more of other stats.  When I found a gull dagger in Diablo II normal, I got really excited.  It's an awesome item to find in normal, but it's not a game breaking item.  Every item in Diablo III normal doesn't need to have 3% magic find, because magic find scales with difficulty.  Even if I had 1000% magic find in Diablo III normal, I wouldn't be finding item level 63 gear.  So I think it would be okay to get a little crazy and make a low level legendary with unusually big magic find.
