<h1>Diablo III</h1>

<h4><%= link_to "Item Requirements to Beat the Game", '/diablo3/item-requirements-to-beat-the-game' %> in Diablo III - 07/31/12</h4>
<br>
<h4><%= link_to "Drops in Higher Difficulties", '/diablo3/drops-in-higher-difficulties' %> in Diablo III - 07/30/12</h4>
<br>
<h4><%= link_to "What to Farm", '/diablo3/what-to-farm' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Drops in Lower Difficulties", '/diablo3/drops-in-lower-difficulties' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Life Gain", '/diablo3/life-gain' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Elemental Damage", '/diablo3/elemental-damage' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "PvP Part 2", '/diablo3/pvp-part2' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "PvP", '/diablo3/pvp' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "Level Cap", '/diablo3/level-cap' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "Legendaries", '/diablo3/legendaries' %> in Diablo III - 07/26/12</h4>
<br>
<h4><%= link_to "Elite Affixes", '/diablo3/elite-affixes' %> in Diablo III - 07/25/12</h4>
<br>
<h4><%= link_to "Gems", '/diablo3/gems' %> in Diablo III - 07/23/12</h4>
<br>
<h4><%= link_to "Farming Durations", '/diablo3/farming-durations' %> in Diablo III - 07/23/12</h4>
