<h1>Legendaries</h1>
<h2>in Diablo III - 07/26/12</h2>

<h4>Introduction</h4>
<br>Legendary items in Diablo III are pretty disappointing.  The short explanation is that for most legendaries you can find a rare item with identical stats.  For these legendaries, there is really no difference between them and rares.  Sometimes I wonder why Diablo III even has legendaries.  I agree that uniques were a little to dominant in Diablo II and Blizzard wanted to change that, but all they did was take it drastically in the other direction and now rares are far dominant over legendaries in Diablo III.  Why can't we have a nice mix?
<br><br>
<h4>Solution</h4>
<br>There is pretty much no question that Diablo II blows away any other game with its item creativity in uniques.  I really think that this is one area of the game that Diablo III should follow how Diablo II did it.  The most important part of legendaries is that they should be memorable, otherwise what is even the point of them?  If you name almost any unique from Diablo II, a stat on the item or build that the item is good in will instantly come to my mind.
<br><br>
So, following in the design of Diablo II, I think every legendary in Diablo III should fall into one of the following categories:
<br><br><br>
<h4>1. Have a mod that doesn't belong in that slot</h4>
<br>By "doesn't belong" I just mean that you can't find that mod on magics/rares of that slot.  Some examples are move speed on something other than boots, and chance to block on something other than shield.  Some legendaries do this, but I would like to see more.  Also, I don't think I have seen a legendary that has TWO mods that don't belong, so it would be nice to see at least one of those.  Additionally, of the ones that I have seen, the "mod that doesn't belong" usually doesn't stand out.  I think it's even likely that many people would miss this mod at a glance on current Diablo III legendaries!  I want to look at the legendary and have it shout "THIS IS WHAT DEFINES ME!"
<br><br>
I think this is a really good example:
<br><br>
<%= image_tag("cats-eye.jpg", alt: "The Cat's Eye") %>
<br><br>
The Cat's Eye actually has 4 out of 5 mods that don't belong on an amulet.  However, the one that stands out is the run speed.  This is not a valuable item, or considered one of the best amulets, or good for many builds.  But I have used it several times and love it.  Sometimes you just really want a ridiculous amount of run speed, and that's when I'm glad items like this are in the game.  So to reiterate, this is an example of a unique that is fun, interesting, memorable, and not overpowered.  I think it sets a good example for what some legendaries should be.
<br><br>
<h4>2. Have a mod that is higher than normal</h4>
<br>By this I mean a mod with a max range that goes higher than magics/rares.  This makes an item memorable.  It's okay if the other mods are lower than what you might expect, because the one wacky mod makes up for it.  Like the first point, Diablo II has a ton of examples of this, but here's just one that I like:
<br><br>
<%= image_tag("tower-shield.jpg") %>
<br><br>
In this item, one mod far far outweighs all of the rest, making it memorable for that.  Not all legendaries that follow this idea need to be as extreme as this item, but I think it is a good example.  The problem with items like these are they are probably the most tricky to balance.  Kent brought up the monk's highest resist passive, which puts some limitations on how extreme you can get with items like this before they become overpowered.  However, I still think that a legendary could have like 120 fire resist without being overpowered.  I think rares can normally have 80 to a single resist and 80 to all resists.  So with double resists on a rare, an item could give more fire resist than a legendary with 120, making that more ideal for a monk.  But 120 fire resist on one mod for a legendary would still make it memorable.
<br><br>
<h4>3. Have flavor</h4>
<br>Let's just jump right into an example:
<br><br>
<%= image_tag("coldkill.jpg") %>
<br><br>
You look at the name of this item, then you read its mods and all you can think is "that makes so much sense."  You probably won't forget now that Coldkill is the axe with FIVE mods related to cold.  The item doesn't even need to be good when it has this much flavor.  Sadly, most of the mods on this item don't exist in Diablo III, but they could at least try something similar, or try to make new interesting mods that would fit.
<br><br>
<h4>4. Not make any sense</h4>
<br>Let's just jump right into an example again:
<br><br>
<%= image_tag("spellsteel.jpg") %>
<br><br>
What's going on with this item?  Don't ask me, I don't know.  But that sure is a memorable and thought provoking item.  It's like it's trying to be a caster melee hybrid weapon.  It gives mana but has charges of spells that don't use mana... it has increased damage but faster cast rate.  I just don't know, I don't want to think about it anymore.  The point is that when you identify this item, you stare at it for a little while, and you are just like "...what?"  You start to think of all the ways that it might ever be useful, until you eventually decide that it isn't.  Maybe you would even equip it because you want to know how it feels.  Now compare that thought process to identifying a bad legendary in Diablo III and just saying "OH LOOK another terrible legendary" and then not putting another thought into it.
<br><br>
<h4>5. Be good, but not the best</h4>
<br><%= image_tag("maras.jpg") %>
<br><br>
Mara's is a very good and very valuable amulet.  There is nothing special about it.  You can get +2 skills on rare amulets, and more than 20 attribute points in one mod on a rare.  And Mara's only has a total of 3 mods.  So why does every Diablo II player know this item?  It is a very solid all around item.  It is good enough to be the last amulet that your character ever needs, but it is far from the best.  If you ever try to compare your Mara's to someone that has a gg rare/crafted amulet, they will make you feel like your Mara's is a cracked gray item in comparison.  I think that this is the concept that Blizzard was aiming to achieve with Diablo III legendaries, but failed to.  <u>The idea that a legendary can be good enough to never need replacing, but far from the best when compared to rares</u>.  I think they should really apply this idea to some of their current legendaries.
<br><br>
<h4>6. Have auras!</h4>
<br>Auras were a big deal in Diablo II, and players loved them.  I think Blizzard stayed away from them in Diablo III because players became too dependent on auras in Diablo II.  I won't post screenshots, but you probably know the items.  Call to Arms as your off-weapon, Insight on your mercenary, Beast on a summon necromancer, redemption aura on a Phoenix shield.  Even some hilarious ones like sanctuary aura on Azurewrath.  Or maybe you are more of a Wisp Projector kind of person.
<br><br>
Like I said, I think Blizzard is worried to put auras into the game, but maybe start out with something like a 3% attack speed group aura as a mod on a legendary (like enchantress buff).  And after seeing how that works, then maybe start creating more unique and interesting auras to put on legendaries.
<br><br>
<h4>7. It can be okay to be bad</h4>
<br>If most of the legendaries follow one of the above ideas, then it is completely okay for there to be a few (very few) legendaries that are just completely bad and have nothing special about them.  In this way they are memorable because there would be so few bad/useless/uninteresting legendaries that being bad would make it memorable.  You would identify a legendary expecting it to be good or at least interesting, but it would just turn out to be bad and disappointing, and you won't forget that as you angrily throw it on the ground.
<br><br>
<h4>8. Give new skills</h4>
<br>Don't worry, I've already accepted that this isn't going to happen, but I figured that I should throw it out here anyway.  The idea here is that equipping an item actually makes a skill from another class available to you.  This of one of the rather over the top features of Diablo II.  Everyone should know one of the most defining items from Diablo II, Enigma, which gives any character teleport:
<br><br>
<%= image_tag("enigma.jpg") %>
<br><br>
Here's another less practical, but still completely usable, but mostly hilarious one:
<br><br>
<%= image_tag("wolfhowl.jpg") %>
<br><br>
And finally, an item that I loved.  This item probably kept me playing Diablo II for several more months than I otherwise would have:
<br><br>
<%= image_tag("chaos.jpg") %>
<br><br>
But with the way that Diablo III is designed, it is very unlikely that we will see this idea used.  Giving players abilities from other classes might literally cause chaos.
<br><br>

<h4>Additional Throughts</h4>
<br>
<ul>
<li>When I see a legendary drop i get REALLY excited for a few seconds, but then reality hits me and I remember that I'm playing Diablo III and it's probably going to be awful and useless.  Then my suspicions come true as I identify it and all I can say is "what were they thinking?"</li>
<li>It's much easier to trade uniques in Diablo II than to trade rares because everyone has a pretty good idea of what it is just by name.  Currently in Diablo III, trading legendaries is very similar to trading rares, and can be headache inducing.</li>
<li>I wish that Blizzard would make an effort to have perfect stat ranges on legendaries end on nice numbers (usually a multiple of 5 would be good).  Diablo II players just love those perfect stats like "200%".  Most Diablo III legendaries have really weird stat ranges, like "+149" to something being perfect.  What the hell is with that?  Come on, that's just weird and no one is going to be able to remember what the perfect stats are for all these items.</li>
<li>I like that Blizzard gave legendaries random magic mods, and also the "one of the following x mods".  I think this is a cool and interesting idea.  However, I think they also went overboard.  While this is a good idea, it shouldn't be on literally every single legendary, in the same way that no ONE of the above 8 ideas should be applied to every single legendary.  One thing that made uniques interesting is not only are they so different from magic/rare items, but they are very different from other uniques as well.  So I don't think that every legendary should share one idea such as having random mods.  I think some legendaries should have no random mods, and very few should have more than one random mod.  Having just one random mod on a legendary already makes it extremely random.  Not that many legendaries should have more than one random mod.  Even without any random mods, it would still be very difficult to get a "perfect" legendary from the stat ranges.  So yeah, there could still be plenty of legendaries with random mods, just a bit less than there are now.</li>
<br><br>
<i>All images were taken from the <%= link_to "Arreat Summit", 'http://classic.battle.net/diablo2exp/items/', target: "_blank" %></i>
