<h1>Don't Make Me Pull This Guild Over</h1>
<h2>Random thoughts about game design</h2>
<br><br>

<h4><%= link_to "Questionable Features", '/tribes/questionable-features' %> in Tribes: Ascend - 08/04/12</h4>
<br>
<h4><%= link_to "Random Things I Like", '/tribes/random-things-i-like' %> in Tribes: Ascend - 08/04/12</h4>
<br>
<h4><%= link_to "Item Requirements to Beat the Game", '/diablo3/item-requirements-to-beat-the-game' %> in Diablo III - 07/31/12</h4>
<br>
<h4><%= link_to "Drops in Higher Difficulties", '/diablo3/drops-in-higher-difficulties' %> in Diablo III - 07/30/12</h4>
<br>
<h4><%= link_to "What to Farm", '/diablo3/what-to-farm' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Drops in Lower Difficulties", '/diablo3/drops-in-lower-difficulties' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Life Gain", '/diablo3/life-gain' %> in Diablo III - 07/29/12</h4>
<br>
<h4><%= link_to "Elemental Damage", '/diablo3/elemental-damage' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "PvP Part 2", '/diablo3/pvp-part2' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "PvP", '/diablo3/pvp' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "Level Cap", '/diablo3/level-cap' %> in Diablo III - 07/28/12</h4>
<br>
<h4><%= link_to "Legendaries", '/diablo3/legendaries' %> in Diablo III - 07/26/12</h4>
<br>
<h4><%= link_to "Elite Affixes", '/diablo3/elite-affixes' %> in Diablo III - 07/25/12</h4>
<br>
<h4><%= link_to "Gems", '/diablo3/gems' %> in Diablo III - 07/23/12</h4>
<br>
<h4><%= link_to "Farming Durations", '/diablo3/farming-durations' %> in Diablo III - 07/23/12</h4>
<br>
<h4><%= link_to "Game Analysis", '/mass-effect2/game-analysis' %> in Mass Effect 2 - 10/20/11</h4>
<br>
<h4><%= link_to "13 Reasons why Archeology is Awful", '/world-of-warcraft/13-reasons-why-archeology-is-awful' %> in World of Warcraft - 02/07/11</h4>
<br>
<h4><%= link_to "The List of Things that Don't Fool Around", '/diablo2/the-list-of-things-that-dont-fool-around' %> in Diablo II - 11/10/10</h4>
<br>
<h4><%= link_to "Issues with Void Rays", '/starcraft2/issues-with-void-rays' %> in Starcraft II - 09/19/10</h4>
<br>
<h4><%= link_to "Issues with Reapers", '/starcraft2/issues-with-reapers' %> in Starcraft II - 09/09/10</h4>
<br>
<h4><%= link_to "Campaign Research Paths", '/starcraft2/campaign-research-paths' %> in Starcraft II - 08/24/10</h4>
<br>
<h4><%= link_to "Dungeoneering", '/runescape/dungeoneering' %> in Runescape - 07/09/10</h4>
<br>
<h4><%= link_to "If I Made the New Paladin Heal", '/world-of-warcraft/if-i-made-the-new-paladin-heal' %> in World of Warcraft - 04/24/10</h4>
