<br><br><br><br>
<h3>Categories:</h3>
<br>
<%= link_to "Diablo II", '/diablo2' %>
<br>
<%= link_to "Diablo III", '/diablo3' %>
<br>
<%= link_to "Runescape", '/runescape' %>
<br>
<%= link_to "Software design", '/software-design' %>
<br>
<%= link_to "Starcraft II", '/starcraft2' %>
<br>
<%= link_to "World of Warcraft", '/world-of-warcraft' %>
