<!DOCTYPE html>
<html>
  <head>
    <title>Ohhhh Man - Random thoughts about game design</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span10">
            <%= yield %>
          </div>
          <div class="span2">
            <%= render 'layouts/categories' %>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>